AES/AES.cache/
AES/AES.sim/
AES/AES.runs/
AES/AES.gen/
AES/AES.hw/
AES/AES.ip_user_files/
AES/AES.runs/

AES_nonAccelerated/AES_nonAccelerated.cache/
AES_nonAccelerated/AES_nonAccelerated.gen/
AES_nonAccelerated/AES_nonAccelerated.hw/
AES_nonAccelerated/AES_nonAccelerated.ip_user_files/
AES_nonAccelerated/AES_nonAccelerated.runs/

AESunoptimizedArea/AESunoptimizedArea.cache/
AESunoptimizedArea/AESunoptimizedArea.hw/
AESunoptimizedArea/AESunoptimizedArea.ip_user_files/
AESunoptimizedArea/AESunoptimizedArea.sim/

